@page "/{id:int?}"
@model Oltean_Cristina.Pages.Songs.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Music</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Song[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song[0].Artist)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Song[0].Price)
            </th>
            <th>

                @Html.DisplayNameFor(model => model.Song[0].ReleaseDate)

            </th>
            <th>

                @Html.DisplayNameFor(model => model.Song[0].Company.CompanyName)

            </th>
            <th>

                @Html.DisplayNameFor(model => model.Song[0].SongGenres)
                </th>






            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SongD.Songs) {
    string selectedRow = "";

    if (item.ID == Model.SongID)

    {

        selectedRow = "table-success";

    }
        <tr class="@selectedRow">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Artist)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>

                @Html.DisplayFor(modelItem => item.ReleaseDate)

            </td>
            <td>

                @Html.DisplayFor(modelItem => item.Company.CompanyName)

            </td>
            <td>

                @{

                    foreach (var genre in item.SongGenres)

                    {

                        @: @genre.Genre.GenreName <br />


                    }

                }

            </td>



            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
